.todo-header    {
    font-size: 25px;
    font-family: cursive;
    color: #b57705;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.todo-col   {
    background-color: #aba7a7a1;
    height: 80vh;
    width: 25vw;
    border-radius: 10px;
    padding-top: 15px;
}

.todo-item {
    padding-left: 10px;
    background-color: #a70151a3;
    height: 35px;
    width: 85%;
    line-height: 250%;
    color: #dcdcdc;
    font-size: 14px;
    font-family: monospace;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    border-radius: 7px;
}

.btn-todo-add {
    border-radius: 16px;
    height: 35px;
    width: 35px;
    background-color: #959695c9;
    color: #39ec9a;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    border-color: #fdfdfd00;
    line-height: 100%;
    float: right;
    position: relative;
    right: 15px;
    top: 11px;
}

.btn-todo-check {

}

.btn-todo-delete {

}

.text-input {
    color: black
}
